* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin: 50px;

}


.login{
	width: 500px;
	height: 500px;
	background-color: rgb(55, 212, 255);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.welcome{
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
	margin: 10px;
	padding: 20px;
}

.login_form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_input{
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-size: 1.3rem;

}

h3{
	font-size: 1.7rem;
	padding: 20px;
}

.checkbox{
	font-size: 1.5rem;
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin: 10px;

  }

.login_button{
	width: 100px;
	height: 25px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 1rem;
}

.create_acc{
	display: flex;
	justify-content: center;
}
.create_acc_candidate, .create_acc_employer{
	width: 200px;
	height: 50px;	
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 1rem;
	margin: 10px;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
}

input{
	border: none;
	outline: none;
}